.container{
    height: auto;
    width: auto;
     
}

.promocion{
    background-color: pink;
    padding: 2px;
    text-align: center;
    border-radius:  50px;
}

.titulogrande{
    padding: 20px;
    text-align: center;
}

.cuerpasoreal{
    display: flex;
    
}
.cuerpaso{
    padding: 10%;
}
.segundobloque{
    background-color: pink;
    padding: 10%;
}

.card{
    height: 800 px;
    width: auto;
}
 
.tercerbloque{
    display: flex;
    text-align: center;
    padding: 30px
}
/**comentario tablet **/
 @media (min-width-991px) and (max-width: 1324px) 