.container_main {
    height: auto;
    width: auto;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap;  */
    /*para  ponerlo todo en columna es mejor para dispositivos moviles*/
    flex-direction: column;
}


.promocion {
    background-color: pink;
    padding: 2px;
    text-align: center;
    border-radius: 50px;
}

.titulogrande {
    padding: 20px;
    text-align: center;
}

.cuerpasoreal {
    display: flex;

}

.cuerpaso {
    padding: 5%;
}

.segundobloque {
    background-color: pink;
    padding: 10%;
}

.card {
    height: 800 px;
    width: auto;
}

.tercerbloque {
    display: flex;
    text-align: center;
    padding: 30px
}

/**comentario celular **/
@media (max-width: 478px) {
    
    .tercerbloque{
         
        display: flex;
        justify-content: center;
    /* flex-wrap: wrap;  */
    /*para  ponerlo todo en columna es mejor para dispositivos moviles*/
        flex-direction: column;
    }

    .imagentercerbloqueofi img{
        height: 350px;
        width: 300px;
    }
    
    .subtercergrupo{
         
        display: flex;
        justify-content: center;
    /* flex-wrap: wrap;  */
    /*para  ponerlo todo en columna es mejor para dispositivos moviles*/
        flex-direction: column;
    }
    .cuerpasoreal {
        
        display: flex;
        justify-content: center;
    /* flex-wrap: wrap;  */
    /*para  ponerlo todo en columna es mejor para dispositivos moviles*/
        flex-direction: column;
    }

    .imagenprimer img {
        height: 350px;
        width: 350px;
    }

}
/**comentario tablet **/
@media (min-width: 477px) and (max-width: 990px) {
    .container_main {
        
        justify-content: center;
    }
    .tercerbloque{
        
        display: flex;
        justify-content: center;
    /* flex-wrap: wrap;  */
    /*para  ponerlo todo en columna es mejor para dispositivos moviles*/
        flex-direction: column;
    }
    
    .imagentercerbloqueofi img {
        height: 550px;
        width: 550px;
        
        justify-content: center;
        
    }
    .subtercergrupo{
        
        display: flex;
        justify-content: center;
    /* flex-wrap: wrap;  */
    /*para  ponerlo todo en columna es mejor para dispositivos moviles*/
        flex-direction: column;
    }
    .cuerpasoreal {
            
        display: flex;
        justify-content: center;
    /* flex-wrap: wrap;  */
    /*para  ponerlo todo en columna es mejor para dispositivos moviles*/
        flex-direction: column;
    }

    .imagenprimer img {
        height: 400px;
        width: 400px;
        justify-content: center;
        
    }

}